*.o
highsv
src/cli/cli
lps
*.d
*.out
*resources.c
*lex*
*.test
examples/*
src/parse/parse.c
src/parse/parse.h
*.gz
*.zip
*.xz
gtk4
highs
win/*
*.ico
*.txt
build/
call.dot
call.png
call.svg
src/parse/bison/parser.c
src/parse/bison/parser.h
src/parse/bison/scanner.c
src/parse/bison/scanner.h

*.expand
*.dot
